body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  width: 100%;
  overflow-x: hidden;
}
/* nav style start  */
#nav{
  position:static;
  z-index: 999;
}
nav ul li{
  font-family: "Libre Baskerville", serif;
  font-weight: 200;
  font-style: normal;
}

nav ul li a:focus {
  color: red;
}
nav ul li a:active {
  color: red;
}
#logo {
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  object-fit: fill;
}

@media screen and (max-width: 600px) {
  #menu {
    display: none;
  }

  #logo {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    object-fit: fill;
    /* filter: drop-shadow(2px 4px 0.5em rgb(20, 77, 220)); */
  }
}

/* Home style start  */
#vickyimg {
  width: 70vh;
  height: 70vh;
  border-radius: 100%;
  object-fit: fill;
  filter: drop-shadow(2px 4px 0.97em rgb(20, 77, 220));
}

@media screen and (max-width: 600px) {
  #vickyimg {
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 4px 0.97em rgb(20, 77, 220));
  }
}
